.mdl-layout .input-layout {
  margin: 10px;
  padding-left: 25px;

  .input-container {
    display: inline;
  }

  .equals-sign {
    display: inline;
    font-size: 35px;
  }

  #display-value {
    display: inline;
    padding-left: 25px;
    font-size: 35px;
  }
}

.mdl-layout .number-container {
  padding: 10px;
  .number-list {
    display: inline;

    .number-box {
      display: inline;
      font-size: 35px;


    }

    .target-box {
      padding-left: 45px;
    }
  }
}

.number-used {
  background: green;
}